* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

@mixin centerbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

$darkGrayishBlue: hsl(217, 19%, 35%);
$desatDarkBlue: hsl(214, 17%, 51%);
$grayishBlue: hsl(212, 23%, 69%);
$lightGrayishBlue: hsl(210, 46%, 95%);

body {
    background-color: $lightGrayishBlue;
    font-family: "Manrope", sans-serif;
    font-size: 62.5%; //10px
    box-sizing: border-box;
}

.box {
    @include centerbox();
    width: 45rem;
    background-color: #fff;
    border-radius: 10px;
    display: table;

    @media (max-width: 800px) {
        width: 40rem;
        display: block;
    }

    @media (max-width: 600px) {
        width: 20rem;
        display: block;
    }

    &__left {
        background-image: url(../assets/images/drawers.jpg);
        height: 100%;
        background-position: left;
        background-size: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: table-cell;

        @media (max-width: 800px) {
            width: 15rem;
        }    

        @media (max-width: 600px) {
            width: 100%;
            display: block;
            background-position: top;
            border-bottom-left-radius: 0;
            border-top-right-radius: 10px;
            height: 13rem;
        }
    }

    &__right {
        width: 29rem;
        display: table-cell;
        padding: 1.5rem 2.5rem;

        @media (max-width: 800px) {
            width: 26rem;
        }   

        @media (max-width: 600px) {
            padding: 0;
        }
    }

    &__text {
        &-heading {
            font-size: 1.3rem;
            font-weight: 700;
            color: $darkGrayishBlue;
            margin-bottom: 0.8rem;
            
            @media (max-width: 600px) {
                font-size: 1rem;
                padding: 2rem 1.6rem 0 1.6rem;
            }
        }

        &-body {
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 1.6;
            color: $desatDarkBlue;
            padding-right: 1rem;

            @media (max-width: 600px) {
                padding: 0 1.6rem;
            }
        }
    }

    &__bottom {
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        position: relative;

        @media (max-width: 600px) {
            padding: 1rem 1.6rem;
        }

        &-avatar {
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            float: left;
            order: 1;

            &--text {
                float: left;
                color: $darkGrayishBlue;
                margin-left: 1rem;
                font-size: 0.7rem;
                display: flex;
                flex-direction: column;
            }

            &--name {
                font-weight: 700;
            }

            &--date {
                font-weight: 500;
                color: $grayishBlue;
            }
        }

        &-share {
            align-self: center;
            padding: 0.4rem;
            border-radius: 50%;
            background-color: $lightGrayishBlue;
            position: relative;
            width: 1.75rem;
            height: 1.75rem;
            cursor: pointer;
            order: 2;
            z-index: 5;

            @media (max-width: 600px) {
                transform: scale(1.1);
            }

            &:hover {
                background-color: $darkGrayishBlue;
            }

            &:hover &--logo {
                fill: #fff;
            }

            &--checkbox {
                display: none;
            }
            
        }
        
        &-section {
            display: none;
        } 

        @media (max-width: 600px) {

            &-share:hover  {
                background-color: $grayishBlue;
            }

            &-share:hover ~ &-image {
                visibility: hidden;
            }

            &-share:hover ~ &-section {
                visibility: visible;
                background-color: $darkGrayishBlue;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                display: flex;
            }      
            
            &-section {
                
                &--body {
                    padding: 1.5rem 1rem 1.5rem 0;
                    display: flex;
                    justify-content: space-evenly;
                    margin-left: 10px;
                    width: 70%;
        
                    img {
                        height: 1rem;
                        width: 1rem;
                    }
                }
        
                &--share {
                    font-size: .8rem;
                    text-transform: uppercase;
                    color: $grayishBlue;
                    letter-spacing: 7px;
                    margin-top: -1px;
                }
            }
        }    

    }

    &__tooltip {
        display: inline-block;
        border-bottom: 1px dotted $darkGrayishBlue;
    }

    &__tooltip &__tooltiptext {
        visibility: hidden;
        width: 14rem;
        height: 3rem;
        background-color: $darkGrayishBlue;
        color: #fff;
        text-align: center;
        border-radius: 10px;
        padding: 12px;
        position: absolute;
        z-index: 1;
        bottom: 3.2rem;
        left: -2.5rem;
        margin-left: -60px;
    }

    &__tooltiptext--body {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &-share {
            text-transform: uppercase;
            color: $grayishBlue;
            letter-spacing: 4px;
            font-size: .7rem;
            margin-top: .1rem;
        }

        & img {
            width: 1rem;
            margin-top: .2rem;
        }
    }

    &__tooltip &__tooltiptext::after {
        content: "";
        position: absolute;
        top: 97%;
        left: 50%;
        margin-left: -10px;
        border-width: 10px;
        border-style: solid;
        border-color: $darkGrayishBlue transparent transparent transparent;
    }

    &__bottom-share:hover &__tooltiptext {
        visibility: visible;

        @media (max-width: 600px) {
            visibility: hidden;  
        }
    }
}